html{
    scroll-behavior: smooth;
}
body{
    font-size: 25px;
    background-color: #CCCCFF;
    line-height: 1.45;
    margin: 0;
    padding: 0;
}
img{
    border: 10px groove #ffccff;
    border-radius: 25px;
}
.overview{
    background-attachment: fixed;      
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover;      
    color: white;
    height: 600px;               
} 
/* .current{
    color:white; 
} */
.overview h1{
    color: white;
    font-weight: bolder;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
}
p{
    /* color: royalblue; */
    color: white;
    /* color: white; */
    font-size: 24px;
    padding: 0 100px;
    text-align: center;  
}
.gallery img{
    display: flex; 
    flex-flow: column;
}
nav li{
    display:inline;
    padding-right: 20px;
}
.skip a{
    left: 10px; 
    top: -40px; 
    position: absolute; 
    /* left: 0; */
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip a:focus{
    top: 20px; 
    background-color: #CCCCFF;
    font-size: 18px;
}
nav{
    background-color: rgb(160, 179, 239);
    padding: 25px ; 
    text-align: right;
}
footer{
    background-color:  rgb(160, 179, 239);
    padding-top: 30px;
    text-align: center;
} 
.text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
}
.gallery{
    width: 90%;
    height: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: space-around;
    grid-gap: 80px;
    padding-bottom: 50px;
}

main img{
    width: 30%;
    display: block;
    margin: auto;
    place-items: center;
}
.gallery img{
    width: 3000%;
    height: 3000%;
    border: 20px groove #ffccff;
    place-items: center;
    /* display: flex; */
    /* margin-top: 80px; */
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    justify-content: center;

}
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    place-items: center;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    place-items: center;
  }
  
  .flip-card-front, .flip-card-back{
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    place-items: center;
    /* border: groove; */
  }
  
.flip-card-front{
    /* background-color: #CCCCFF; */
    background-color: transparent;
    place-items: center;
} 
.flip-card-back{
    /* background-color:#CCCCFF ; */
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
}

/* Creating the media queries */

@media all and (min-width: 700px){
    .flex{
        justify-content: center;
        flex-flow: row wrap;
    }
}

/* Prefers reduce motion */
@media all and (prefers-reduced-motion: reduce){
    h1{
        animation-duration: none;
        animation-name: none;
    }
    .skip a{
        -webkit-transition:none;
        transition: none;
    }
}

@media all and (min-width: 1000px){
    h1{
        animation-duration: 3s;
        animation-name: slidein;
    }
        @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%;
            }
          
            65% {
              font-size: 200%;
              margin-left: 25%;
              width: 150%;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
    }
    p {
        animation-duration: 3s;
        animation-name: slidein;
    }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        65% {
          font-size: 200%;
          margin-left: 25%;
          width: 150%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
    }
.gallery img{
    grid-template-columns: 1fr 3fr 3fr ;
    grid-template-rows: 25% 25% 25%;
    place-items: center;
}
}

@media screen and (min-width: 900px){

}